BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 160
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: true
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlignConsecutiveDeclarations: Consecutive
